$background-color: #EDEDED;
$primary-color: #D3D3D3;
$font-stack: Helvetica, sans-serif;
$font-stack: Cooper Lt BT;
$background-color: #007C89;//Kale
$primary-color: #EFEEEA; //Parsnip
$primary-color: #D8D9D2; //Basmati
$background-color: #B7A9A1; //Portobello
$background-color: #8C8C8C; //Tuna
$background-color: #D8EACC; //Cucumber

